* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

section {
  height: 100vh;
  color: white;
  scroll-snap-align: start;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth;
}

.three {
  background-color: #4b7bec;
}

.four {
  background-color: #a55eea;
}

::-webkit-scrollbar {
  display: none;
}

.fixed-nav {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.2s ease-in;
  display: flex;
  flex-direction: column;
  background-color: #f7f1e3;
  padding: 10px 10px 10px 5px;
  border-radius: 0 20px 20px 0;
  z-index: 10;
}
.fixed-nav .btn-navigate {
  padding: 2px;
  color: #aaa69d;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.fixed-nav .btn-navigate--active {
  color: #181818;
}
.fixed-nav .btn-navigate:not(:first-child) {
  margin-top: 10px;
  position: relative;
}
.fixed-nav .btn-navigate:not(:first-child)::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #aaa69d;
  top: 0px;
  transform: translateY(-5px);
}
.fixed-nav .btn-navigate:hover {
  background-color: #84817a;
}

.fixed-nav--mobile {
  display: none;
}

@media screen and (max-width: 740px) {
  .fixed-nav {
    display: none;
  }

  .fixed-nav--mobile {
    position: fixed;
    transition: transform 0.2s ease-in;
    display: flex;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    background-color: #f7f1e3;
    padding: 0 10px 20px 5px;
    border-radius: 20px 20px 0px 0;
    z-index: 10;
  }

  .btn-navigate {
    padding: 20px 0 0 0;
    color: #aaa69d;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    flex-direction: column;
  }
  .btn-navigate-text {
    font-size: 12px;
  }
  .btn-navigate--active {
    color: #181818;
    position: relative;
  }
  .btn-navigate--active::before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    width: 100%;
    height: 3px;
    background-color: #aaa69d;
  }
}
@keyframes slideTop1 {
  0% {
    transform: translatey(20px);
    opacity: 0;
  }
  25% {
    transform: translatey(15px);
    opacity: 0.2;
  }
  100% {
    transform: translatey(0);
    opacity: 1;
  }
}
@keyframes slideTop2 {
  0% {
    transform: translatey(20px);
    opacity: 0;
  }
  50% {
    transform: translatey(20px);
    opacity: 0;
  }
  62.5% {
    transform: translatey(15px);
    opacity: 0.2;
  }
  100% {
    transform: translatey(0);
    opacity: 1;
  }
}
@keyframes slideTop3 {
  0% {
    transform: translatey(20px);
    opacity: 0;
  }
  66.6666666667% {
    transform: translatey(20px);
    opacity: 0;
  }
  75% {
    transform: translatey(15px);
    opacity: 0.2;
  }
  100% {
    transform: translatey(0);
    opacity: 1;
  }
}
.one {
  background-color: #181818;
  position: relative;
}
.one .wrapper-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: opacity 0.5s linear;
  background-color: rgba(0, 0, 0, 0.6);
}
.one .wrapper-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.one .wrapper-intro {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.one .wrapper-intro .intro-details {
  transition: opacity 0.5s linear;
}
.one .wrapper-intro .intro {
  user-select: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.one .wrapper-intro .intro-heading {
  font-size: 60px;
  animation: slideTop1 0.4s ease-in;
  font-weight: 300;
}
.one .wrapper-intro .intro-title {
  font-family: "Satisfy", cursive;
  text-transform: capitalize;
  animation: slideTop2 0.8s ease-in;
  font-size: 70px;
}
.one .wrapper-intro .intro-name {
  font-size: 40px;
  margin-top: 10px;
  animation: slideTop3 1.2s ease-in;
  font-weight: 400;
}
.one .video {
  width: 100%;
  height: 100%;
}

.two {
  padding: 0 62px;
  margin-bottom: 1px;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: fit-content;
  min-height: 100vh;
}
@media screen and (max-width: 740px) {
  .two {
    padding: 0 20px;
    height: 100vh;
  }
}

.section-texts {
  color: #212121;
  text-align: center;
  width: 100%;
  user-select: none;
}
.section-texts .text-heading {
  font-size: 70px;
  line-height: 70px;
  font-family: "Satisfy", cursive;
  margin-bottom: 16px;
  text-transform: capitalize;
  color: #3085f3;
}
@media screen and (max-width: 1023px) {
  .section-texts .text-heading {
    font-size: 60px;
    line-height: 60px;
  }
}
@media screen and (max-width: 700px) {
  .section-texts .text-heading {
    font-size: 50px;
    margin-bottom: 10px;
    line-height: 50px;
  }
}
.section-texts .text-title {
  text-transform: capitalize;
  height: fit-content;
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
  color: #212121;
}

.wrapper-members {
  padding: 60px 0;
  margin: auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(176px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 80px;
  height: fit-content;
}
@media screen and (min-width: 1476px) {
  .wrapper-members {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 740px) {
  .wrapper-members {
    padding: unset;
    display: grid;
    padding-top: 60px;
    justify-content: flex-start;
    grid-auto-columns: 70%;
    grid-auto-flow: column;
    grid-gap: 1.5rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 1rem;
    grid-template-columns: unset;
    grid-template-rows: unset;
  }
  .wrapper-members::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .wrapper-members > * {
    scroll-snap-align: center;
  }
}
.wrapper-members .card-member:first-child .card-member-label {
  background-color: #3085f3;
  color: white;
}
.wrapper-members .card-member {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #eef0f2;
  position: relative;
  transition: box-shadow 0.5s linear;
  height: 170px;
}
.wrapper-members .card-member:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.wrapper-members .card-member-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  width: 80px;
  height: 80px;
}
.wrapper-members .card-member-label {
  position: absolute;
  background-color: #f2f6f9;
  color: #aaaaaa;
  right: 2px;
  top: 10px;
  font-size: 8px;
  padding: 10px;
  border-radius: 10px;
  height: 20px;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.wrapper-members .card-member-label .role {
  margin-left: 2px;
}
.wrapper-members .card-member-infor {
  margin-top: 50px;
  text-align: center;
}
.wrapper-members .card-member-name {
  font-weight: 600;
  color: #212121;
}
.wrapper-members .card-member-desc {
  font-weight: 400;
  color: #5e5e5e;
  font-size: 14px;
}
.wrapper-members .card-member .divider {
  height: 1px;
  background-color: #5e5e5e;
  opacity: 0.2;
  margin: 5px 20px;
}
.wrapper-members .card-member .socials {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.wrapper-members .card-member .socials .social-item {
  color: white;
  background-color: #3085f3;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
}
.wrapper-members .card-member .socials .social-item--github {
  background-color: #212121;
}
.wrapper-members .card-member .socials .social-item--phone {
  background-color: #1dd1a1;
}
.wrapper-members .card-member .socials .social-item--mail {
  background-color: #ee5253;
}
.wrapper-members .card-member .socials .social-item:hover {
  opacity: 0.8;
}
.wrapper-members .card-member .socials .social-item:not(:first-child) {
  margin-left: 15px;
}

.three {
  background-color: white;
  padding: 30px 62px 100px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: fit-content;
}
.three .wrapper-documents {
  border-radius: 10px;
  padding: 10px 20px;
  border: 1px solid #999;
  margin: 20px 0;
  flex: 1;
}
@media screen and (max-width: 740px) {
  .three {
    padding: 15px 4px 20px;
  }
  .three .wrapper-documents {
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid #999;
    margin: 10px 0;
  }
}

.tabs {
  display: flex;
  position: relative;
}
.tabs .line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 6px;
  border-radius: 15px;
  background-color: #5e5e5e;
  transition: all 0.2s ease;
}
.tabs .tab-item {
  min-width: 80px;
  padding: 16px 20px 11px 20px;
  font-size: 20px;
  text-align: center;
  color: #5e5e5e;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 5px solid transparent;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.5s ease;
}
.tabs .tab-icon {
  font-size: 24px;
  width: 32px;
  position: relative;
  top: 2px;
}
@media screen and (max-width: 1023px) {
  .tabs .line {
    height: 3px;
    border-radius: 8px;
  }
  .tabs .tab-item {
    min-width: 80px;
    padding: 8px 10px 6px 10px;
    font-size: 12px;
    border-bottom: 2px solid transparent;
  }
  .tabs .tab-icon {
    font-size: 16px;
    width: 20px;
  }
}
.tabs .tab-item:hover {
  opacity: 1;
  background-color: rgba(94, 94, 94, 0.05);
  border-color: rgba(94, 94, 94, 0.1);
}
.tabs .tab-item.active {
  opacity: 1;
}

.fa-file-word {
  color: #2b569a;
}

.fa-file-pdf {
  color: #aa0a00;
}

.fa-file-video {
  color: #e74c3c;
}

.fa-file-excel {
  color: #1e6c41;
}

.fas.fa-file-alt {
  color: #1a73e8;
}

.fa-file-image {
  color: #0578d5;
}

.tab-content {
  padding: 28px 0;
}
.tab-content .tab-pane {
  color: #333;
  display: none;
}
.tab-content .tab-pane.active {
  display: block;
}
.tab-content .tab-pane h2 {
  font-size: 24px;
  margin-bottom: 8px;
}
.tab-content .list-files {
  list-style: none;
}
@media screen and (max-width: 1023px) and (min-width: 701px) {
  .tab-content .list-files {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
.tab-content .list-files .file-item {
  display: flex;
  width: 100%;
  align-items: center;
  border: 2px solid #eef0f2;
  padding: 15px 20px;
  border-radius: 10px;
}
@media screen and (max-width: 1023px) and (min-width: 701px) {
  .tab-content .list-files .file-item {
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
  }
  .tab-content .list-files .file-item:first-child {
    margin-top: 10px;
  }
}
.tab-content .list-files .file-item:not(:first-child) {
  margin-top: 10px;
}
.tab-content .list-files .file-item:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}
.tab-content .list-files .file-item .file-infor {
  cursor: pointer;
}
.tab-content .list-files .file-item .file-infor:hover .file-icon {
  opacity: 0.7;
}
.tab-content .list-files .file-item .file-infor:hover .file-name {
  text-decoration: underline;
}
.tab-content .list-files .file-item .file-infor .file-name {
  margin-left: 12px;
  color: #212121;
}
@media screen and (max-width: 1023px) {
  .tab-content .list-files .file-item .file-infor {
    font-size: 12px;
    display: flex;
    max-width: 50%;
  }
}
.tab-content .list-files .file-item .file-detail {
  min-width: 30%;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.tab-content .list-files .file-item .file-detail .file-date {
  color: #aaaaaa;
  display: inline-block;
}
.tab-content .list-files .file-item .file-detail .file-creators {
  margin-left: auto;
  display: flex;
}
.tab-content .list-files .file-item .file-detail .file-creators .creator-img {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 50%;
  margin-left: -15px;
}
.tab-content .list-files .file-item .file-detail .file-creators .creator-img:hover .creator-img-name {
  visibility: visible;
}
.tab-content .list-files .file-item .file-detail .file-creators .creator-img-name {
  visibility: hidden;
  width: 50px;
  background-color: #5e5e5e;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 12px;
  position: absolute;
  top: -120%;
  z-index: 10;
}
@media screen and (max-width: 1023px) and (min-width: 701px) {
  .tab-content .list-files .file-item .file-detail {
    margin-left: 0;
    font-size: 16px;
  }
  .tab-content .list-files .file-item .file-detail .file-date {
    margin-right: 10px;
  }
  .tab-content .list-files .file-item .file-detail .file-creators {
    margin-left: 30px;
  }
  .tab-content .list-files .file-item .file-detail .file-creators .creator-img {
    width: 20px;
    height: 20px;
    margin-left: -10px;
  }
}
@media screen and (max-width: 700px) {
  .tab-content .list-files .file-item .file-detail {
    font-size: 12px;
  }
  .tab-content .list-files .file-item .file-detail .file-date {
    font-size: 8px;
    margin-right: 8px;
  }
  .tab-content .list-files .file-item .file-detail .file-creators .creator-img {
    width: 15px;
    height: 15px;
    margin-left: -7px;
  }
}

.wrapper-display {
  display: none;
  position: absolute;
  top: -1px;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 20;
}
.wrapper-display .overlay {
  position: absolute;
  top: -1px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(24, 24, 24, 0.8);
}
.wrapper-display .frames-wrapper {
  z-index: 10;
}
.wrapper-display iframe {
  display: none;
  width: 800px;
  height: 500px;
}
.wrapper-display .file-spinned-top {
  position: absolute;
  top: 10px;
  left: 20px;
  display: flex;
  align-items: center;
}
.wrapper-display .file-spinned-top .btn {
  border-radius: unset;
  background-color: unset;
}
.wrapper-display .file-spinned-top-icon {
  margin: 0 10px 0 20px;
}
.wrapper-display .btn {
  background-color: #212121;
  display: inline-block;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
  transition: background-color 0.3s linear;
}
.wrapper-display .btn:hover {
  background-color: #3085f3;
}
.wrapper-display .prev-btn,
.wrapper-display .next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.wrapper-display .prev-btn {
  left: 4%;
}
.wrapper-display .next-btn {
  right: 4%;
}

#file-checkbox:checked ~ .wrapper-display {
  display: flex;
}

.link-drive-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link-drive-wrapper .title-content {
  display: inline-block;
}
@media screen and (max-width: 740px) {
  .link-drive-wrapper .title-content {
    font-size: 14px;
  }
}

.link-drive {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #3085f3;
  text-transform: capitalize;
  margin-bottom: 10px;
  display: inline-block;
  border-radius: 5px;
  transition: opacity 0.2s linear;
}
.link-drive--all {
  background-color: #f53b57;
}
@media screen and (max-width: 740px) {
  .link-drive {
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 10px;
  }
  .link-drive-icon {
    padding-left: 2px;
  }
}
.link-drive-icon {
  padding-left: 5px;
}
.link-drive:hover {
  opacity: 0.85;
}

/*# sourceMappingURL=style.css.map */
