$primary-color: #3085f3;
$overlay-video-color: #181818;
$brown-light-color: #f7f1e3;
$brown-color: #aaa69d;
$dark-color: #212121;
$desc-text-color: #5e5e5e;
$gray-text: #aaaaaa;
$gray-light: #f8f8f8;
$border-color: #eef0f2;
$gray-md-color: #f2f6f9;
$green-phone-color: #1dd1a1;
$red-mail-color: #ee5253;
